{% extends  'basic2.html' %}
{% block body%}
<div class="container my-5">
	{% for post in page_obj %}
	<div class="col-12 ">

<h3>{{post.title}}</h3>
		<p>by {{post.author}} on {{post.date_posted}}</p>
        <h5>{{post.content|slice:"0:400"}}..</h5>
<a class="text-primary" href="/posts_view/{{post.post_id}}">Read More</a><br>
<a class="text-success" href="/update_post/{{post.post_id}}">Update?</a>
<a class="text-danger" href="/delete_blog/{{post.post_id}}">Delete!!</a>
<div class="col-12 ">
</div>
</div>

<hr>
{% endfor%}
</div>
<div class="container">
  <h5>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="text-danger">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="text-danger">Prev</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="text-danger">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="text-danger">Last &raquo;</a>
        {% endif %}
    </span>
</div>
</h5>
</div>
{% endblock %}